@import 'nib'

notext()
	white-space nowrap
	text-indent -9999px
	overflow hidden

uniform-centerize()
	display flex
	flex-direction column
	justify-content center

global-reset()

//--------------------------------------------------
*, ::after, ::before
	box-sizing: border-box
	outline none

::selection,
::-moz-selection,
::-webkit-selection
	background white

//--------------------------------------------------
html, body
	width 100%
	height 100%
	overflow hidden

html
	// font-family 'Cabin', sans-serif
	font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-size 10px

body
	font-size 1.6rem
	background black
	line-height 1.2
	color white

//--------------------------------------------------
// canvas

.canvas-wrapper
	top 0
	right 0
	bottom 0
	left 0
	overflow hidden

.canvas
	width 100%
	height 100%
	background-coor red
