@import 'nib'

notext()
	white-space nowrap
	text-indent -9999px
	overflow hidden

uniform-centerize()
	display flex
	flex-direction column
	justify-content center

global-reset()

//--------------------------------------------------
*, ::after, ::before
	box-sizing: border-box
	outline none

::selection,
::-moz-selection,
::-webkit-selection
	background white

a
	&:link, &:visited
		color #5200ff

	&:hover
		color white
		background #5200ff

//--------------------------------------------------
html, body
	width 100%
	height 100%
	overflow hidden

html
	font-family 'Cabin', sans-serif
	font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	// font-size 1.6rem
	background #e4e3d4
	line-height 1.2
	// color #21182b
	color #5200ff

//--------------------------------------------------
// canvas

.canvas-wrapper
	top 0
	right 0
	bottom 0
	left 0
	overflow hidden

.canvas
	width 100%
	height 100%
	background-coor red

//--------------------------------------------------
// page component

.page-border
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	border 7px solid white
	// border 5px solid #bfa629
	// mix-blend-mode exclusion

.credit
	position absolute
	z-index 100
	bottom 15px
	right 17px
	letter-spacing: .15em
	font-size 1rem
