doctype html
html
	head
		include ./pug/meta.pug

	body

		.canvas-wrapper
			canvas.canvas

		.page-border.top
		.page-border.right
		.page-border.bottom
		.page-border.left

		.page-border.lighten.top
		.page-border.lighten.right
		.page-border.lighten.bottom
		.page-border.lighten.left

		footer.credit
			| Made by&nbsp;
			a(href='http://www.woollyandwise.com/' target='_blank') Bryan
			| &nbsp;&amp;&nbsp;
			a(href='http://baku89.com' target='_blank') Baku
			| &nbsp;|&nbsp;
			a(href='http://github.com' target='_blank') GitHub

		script(src='./js/index.js')
