doctype html
html
	head
		include ./pug/meta.pug

	body

		.canvas-wrapper
			canvas.canvas

		.about__bg

		button.about__button
			span.wrapper
				span.panel
					span.x.x--a
					span.x.x--b
				span.panel ?

		.about__content

			p Landast Landsat Landsat Landsat

			p.credit
				| Made by&nbsp;
				a(href='http://www.woollyandwise.com/' target='_blank') Bryan
				| &nbsp;&amp;&nbsp;
				a(href='http://baku89.com' target='_blank') Baku

			p
				a(href='http://github.com' target='_blank') GitHub

		.page-border.top
		.page-border.right
		.page-border.bottom
		.page-border.left

		script(src='./js/index.js')
